html {
    box-sizing: border-box;
}

*, *:before, *:after {
    box-sizing: inherit;
}

* {
    margin: 0;
    padding: 0;
}

/* Navbar styling */
.nav-bar {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(17, 16, 16);
}

.nav-bar h4 {
    display: flex;
    font-weight: bold;
    text-align: left;
    position: absolute;
    left: 0%;
    top: 0;
    color: rgba(140, 187, 9, 0.747);
}

.nav-bar h4 span {
    color: aqua;
}
.nav-bar ul {
    display: flex;
    list-style: none;
    margin-top: 25px;
}

.nav-bar ul li {
    font-family: 'Times New Roman', Times, serif;
    font-weight: bold;
    margin: 15px 0;
}

.nav-bar ul li a {
    text-decoration: none;
    color: rgb(158, 133, 5);
    padding: 20px 40px;
}

.nav-bar ul li a:hover {
    background-color: rgba(133, 133, 132, 0.863);
    color: aqua;
}

/*  Home Section Styling  */
.home {
    display: flex;
    width: 100%;
    right: 0%;
    background-color: rgb(37, 29, 2);
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.home img {
    display: flex;
}

.home h1 {
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 15%;
    margin: 2em;
    left: 0;
    color: rgb(44, 236, 224);
    text-shadow: 0px 2px white;
    font-weight: bold;
}

.home h2 {
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 15%;
    right: 0;
    margin: 5%;
    color: rgb(252, 253, 253);
    font-weight: bold;
    font-style: italic;
    font-size: 50px;
    text-shadow: 5px 6px black;
}

/*  About section styling  */
.about {
    display: flex;
    justify-content: center;
    width: 100%;
    height: 80vh;
    position: relative;
    background-color: rgb(218, 213, 213);
}

.bg {
    border: 1px solid black;
    border-radius: 5px;
    position: absolute;
    width: 25%;
    margin: 5%;
    text-align: center;
    text-align: justify;
    left: 0;
}

.bg img {
    width: 50%;
    padding: 5%;
}

.bg span {
    color: brown;
    font-weight: bold;
}

 .hobbies {
    border: 1px solid black;
    border-radius: 5px;
    position: absolute;
    left: 33%;
    width: 25%;
    height: 65vh;
    margin: 5%;
    text-align: center;
    text-align: justify;
} 

.hobbies img {
    width: 40%;
    height: 30vh;
    padding: 5%;
}

.hobbies span {
    color: blueviolet;
    font-weight: bold;
}
.skills {
    border: 1px solid black;
    border-radius: 5px;
    position: absolute;
    right: 0%;
    width: 25%;
    margin: 5%;
}

.skills img {
    width: 50%;
    padding: 5%;
}

.skills span {
    color: rgb(255, 38, 0);
    font-weight: bold;
}

.programming {
    background-color: rgb(218, 213, 213);
}

.programming img {
    width: 30%;
}

.programming p {
    color: rgba(7, 7, 7, 0.575);
    font-weight: bold;
}

.portofolio {
    display: flex;
    background-color: rgb(226, 222, 222);
    margin: 5%;
}


.portofolio h1 {
    position: absolute;
    right: 50%;
}

.portofolio h2 {
    margin: 10%;
}

.portofolio img {
    width: 80%;
}

.restaurant {
    border: 1px solid black;
    border-radius: 5px;
    width: 30%;
    margin: 5%;
}

.restaurant span {
    color: red;
    font-weight: bold;
}
.quiz {
    border: 1px solid black;
    border-radius: 5px;
    width: 30%;
    margin: 5%;
}

.quiz span {
    color: red;
    font-weight: bold;
}

.contact {
    display: flex;
    justify-content: space-around;
    background-color: rgb(226, 222, 222);
}

.contact h1 {
    /* margin: 0; */
    position: absolute;
    font-size: 60px;
    left: 40%;
}

.contact h3 {
    margin: 5%;
    color: rgba(29, 132, 228, 0.623);
    font-weight: bold;
    float: left;
    text-decoration: underline;
}
input {
    color: black;
    font-weight: bold;
    background-color: rgb(53, 52, 54);
}

footer {
    color: black;
    font-weight: bold;
    text-align: right;
    background-color: rgb(19, 230, 195);

}